<html>
    <h1> Create New Menu Item</h1>
    <body>
        <form action="{{ url_for('newMenuItem',restaurant_id=restaurant_id)}}" method="POST">
            <dl>
                <dt>Name:</dt></br>
                <dd><input type="text" size="30" name="name"> </dd></br>

                <dt>Description:</dt></br>
                <dd> <textarea rows="5" cols="30" name="description"></textarea>  </dd></br>

                <dt>Price:</dt></br>
                <dd><input type="text" size="15" name="price">  </dd></br>

                <dt>Course:</dt></br>
                <dd>
                    <input type="radio" id="Appetizer" name="course" value="Appetizer"> 
                    Appetizer
                </dd>

                <dd>
                    <input type="radio" id="Beverage" name="course" value="Beverage">
                    Beverage
                </dd>

                <dd>
                    <input type="radio" id="Dessert" name="course" value="Dessert">
                   Dessert
                </dd>

                <dd>
                    <input type="radio" id="Entree" name="course" value="Entree"> 
                     Entree
                </dd>
            </dl>
            <input type="submit" value="Create" >
        </form>
        <a href="{{url_for('showMenu',restaurant_id=restaurant_id)}}"> Cancel</a>
    </body>
</html>